<div class="fill white-bg p-5">

  <h1>Upload a Resume/CV</h1>

  <%= bootstrap_form_for @user, url: new_user_resume_path(@user) do |f| %>
    <%= f.label "Select the Resume/CV PDF you'd like to upload" %>
    <%= f.file_field :resume %>
    <br>
    <%= f.submit "Upload" %>
  <% end %>

</div>
