<div class="row">
  <div class="col"></div>
<div class="col-7">
<div class="card event-form shadow">
  <div class="card-header">
    New Event
  </div>
  <div class="card-body">
    <%= render "event_form", :event => @event %>
  </div>
</div>
</div>
<div class="col"></div>
</div>
