<h1><%= pluralize(@event.users.count, "user") %> interested in <%= @event.name %></h1>

<%= link_to "Back to Event", event_path(@event) %>

<% if @event.users.any? %>
  <ul>
    <%= render :collection => @event.users, :partial => "user_li", :as => :user %>
  </ul>
<% else %>
  <p>There are no users to display.</p>
<% end %>
