// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#js-new-event-form {
  z-index: 1;
  position: absolute;
  top: -78px;

}
